.Header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
    background-color: #333; 
    color: #fff; 
}


.Header a {
    color: #fff; 
    text-decoration: none; 
    margin: 1rem; 
}